
body{
  background-color: black;
}

.square{
  height: 100px;
  width: 100px;
  background-color: inherit;
  border: 1px solid white;
}
.board{
  position: absolute;
  top: 30%;
  left: 40%;
}

.heading{
  color:white;
  font-size: 3rem;
  position: absolute;
 
}
.status{
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.symbol{
  
  color: white;
  
  font-size: 80px;
}
